@import "tailwindcss";

@theme {
    --breakpoint-xs:320px;
  --color-primary: #0a1f44;
  --color-secondary: #d4af37;
  --color-accent: #f5f5f5;
  /* --animate-block: appear 0.6s ease forwards; */
 
}

@layer utilities {
  .animate-block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  
}

#clip-bottom {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 94% 78%, 87% 81%, 79% 82%, 73% 84%, 67% 82%, 59% 82%, 49% 83%, 42% 83%, 35% 84%, 28% 86%, 23% 90%, 18% 92%, 12% 90%, 6% 83%, 0% 75%); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 63%, 81% 84%, 68% 77%, 46% 74%, 31% 81%, 19% 90%, 0% 75%);
}


@keyframes appear{
    from{
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale:1;
    }
}